.book-details-container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.book-img-container {
  min-height: 230px;
}

.book-img {
  max-width: 150px;
  padding: 2px;
  box-shadow: 2px 1px 5px 1px;
}

.book-href {
  color: black;
}

.book-category {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 12px;
}

.fa-star {
  padding-top: 2px;
  color: rgb(250, 162, 0);
}

.votes {
  font-size: 12px;
  padding-left: 2px;
}
