<div class="container-fluid navbar-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <span class="navbar-brand mb-0 h1">The Book Store</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Book Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="setSelectedCategory(book.category)" *ngFor="let book of books" href="#">{{book.category}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-9">
      <app-sorting (optionSelected)="setSelectedSortingOption($event)"></app-sorting>
    </div>
  </div>
  <div class="col-md-12">
    <app-books (listOfBooks)="setListOfBooks($event)" [selectedSortingOption]="selectedSortingOption" [selectedBookCategory]="selectedBookCategory"></app-books>
  </div>
</div>
